body {
    background-color: #1A1A1A;
    background-image: url('./images/bodyPart2.png');
    background-repeat: no-repeat;
    background-size: contain;
    overflow-x: hidden;
}

@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
    body {
        overflow-x: hidden;
    }
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    body {
        overflow-x: hidden;
    }
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
    body {
        overflow-x: hidden;
    }
}